@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
}

html, body, #__next, .min-h-screen {
  background: var(--background) !important;
}